<div class="col-lg-6">
  <div class="well bs-component">
    <%= form_for(part, html: {class: 'form-horizontal'}) do |f| %>
      <% if part.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

          <ul>
          <% part.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <fieldset>
        <div class="form-group">
          <%= f.label :part_number, {class: 'col-lg-3 control-label'} %>
          <div class='col-lg-9'>
            <%= f.text_field :part_number, {class: 'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, {class: 'col-lg-3 control-label'} %>
          <div class='col-lg-9'>
            <%= f.text_area :description, {class: 'form-control'} %>
          </div>
        </div>
        <script>
          function readURL(input) {
              if (input.files && input.files[0]) {
                  var reader = new FileReader();

                  reader.onload = function (e) {
                      $('#part-image')
                          .attr('src', e.target.result)
                          .width(400)
                  };

                  reader.readAsDataURL(input.files[0]);
              }
          }
        </script>
        <div class="form-group">
          <%= f.label :image, {class: 'col-lg-3 control-label'} %>
          <div class='col-lg-9' style='text-align:center;'>
            <img id="part-image" src="<%= @part.image_url %>" alt="your image" style='margin-bottom:5px; width:400px;' />
            <%= f.file_field :image, {class: 'form-control', onchange: "readURL(this);"} %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :pdf, {class: 'col-lg-3 control-label'} %>
          <div class='col-lg-9'>

            <%= link_to(@part.pdf_url, target: '_blank') if @part.pdf_url%>
            <%= f.file_field :pdf, {class: 'form-control'} %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :manufacturer, {class: 'col-lg-3 control-label'} %>
          <div class='col-lg-9'>
            <%= f.text_field :manufacturer, {class: 'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :quantity_in_stock, {class: 'col-lg-3 control-label'} %>
          <div class='col-lg-9'>
            <%= f.text_field :quantity_in_stock, {class: 'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :specs, {class: 'col-lg-3 control-label'} %>
          <div class='col-lg-9'>
            <%= f.text_area :specs, {class: 'form-control', style: 'height:300px;'} %>
          </div>
        </div>


      <div class="actions">
        <%= f.submit "Submit", {class: 'btn btn-primary', style: 'float:right;'} %>
        <%= link_to 'Cancel', parts_path, {class: 'btn btn-default', style: 'float:right;margin-right: 5px; color: white;'} %>
      </div>
    <% end %>
  </div>
</div>