<p id="notice"><%= notice %></p>

<div style='text-align:center;' class='parts-inventory-header'>
  <h1>Parts Inventory</h1>
  (Showing <%= @parts.to_a.count %> of <%= Part.count %>)
</div>
<%= form_tag parts_path, :method => 'get', :id => "parts_search" do %>
  <p>
    <b>Part Number: </b>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<div class='pagination-container'>
  <%= will_paginate @parts %>
</div>
<br>
<table class='table table-striped parts-table'>
  <thead>
    <tr>
      <th class='part-number'>Part number</th>
      <th class='description'>Description</th>
      <th>Image url</th>
      <th>Manufacturer</th>
      <th>Quantity in stock</th>
      <th>Specs</th>
      <th>PDF</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.reverse.each do |part| %>
      <tr>
        <td><%= part.part_number %></td>
        <td><%= part.description %></td>
        <td><a href="<%= part.image_url %>" target="_blank"><%= part.image_url %></a></td>
        <td><%= part.manufacturer %></td>
        <td><%= part.quantity_in_stock %></td>
        <td><%= part.specs.present? ? 'yes' : 'no' %></td>
        <td><a href='<%= part.pdf_url %>' target="_blank"><%= 'View' if part.pdf_url %></a></td>
        <td>
          <%= link_to 'Show', "http://#{part.part_number}.#{@site_domain}", target: '_blank' %>
          <%= link_to 'Edit', edit_part_path(part) %>
          <%= link_to 'Delete', part, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @parts %>
<!-- <%= link_to 'New Part', new_part_path %> -->
