<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<table class='table table-striped parts-table'>
  <thead>
    <tr>
      <th class='part-number'>Part number</th>
      <th class='description'>Description</th>
      <th>Image url</th>
      <th>Manufacturer</th>
      <th>Quantity in stock</th>
      <th>Specs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.part_number %></td>
        <td><%= part.description %></td>
        <td><a href="<%= part.image_url %>" target="_blank"><%= part.image_url %></a></td>
        <td><%= part.manufacturer %></td>
        <td><%= part.quantity_in_stock %></td>
        <td><%= part.specs.present? ? 'yes' : 'no' %></td>
        <td>
          <%= link_to 'Show', part %>
          <%= link_to 'Edit', edit_part_path(part) %>
          <%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Part', new_part_path %> -->
