<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>RFQPARTS.net</title>
  <meta content="" name="description">
  <meta class="foundation-data-attribute-namespace">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <%= stylesheet_link_tag 'external_main' %>
  <%= stylesheet_link_tag 'external_custom' %>
  <%= stylesheet_link_tag 'external_jquery-ui' %>
  <%= stylesheet_link_tag 'external_font_awesome' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
  <header class="t-header" id="app-header">
    <div class="row">
      <div class="large-12 columns">
        <nav class="top-bar" data-topbar="" role="navigation">
          <section class="top-bar-section">
            <a href="http://<%= @site_domain %>" class='brand-link'>
              <div style="display: inline-block;font-size:30px;padding:10px; font-family: 'RobotoSlab';font-weight: bold;">RFQ Parts</div>
            </a>
            <img src="/assets/hamburger.png" style='float: right; width: 40px; margin: 19px;' class='hamburger-nav'>
            <ul class="right main-nav">
              <li class="">
                <a href="http://<%= @site_domain %>" target="_self" class="<%= 'active' if @home_tab %>">Home</a>
              </li>
              <li class="">
                <a href="http://<%= @site_domain %>/manufacturers" target="_self" class="<%= 'active' if @manufacturers_tab %>">Manufacturers</a>
              </li>
              <li class="">
                <a href="http://<%= @site_domain %>/products" target="_self" class="<%= 'active' if @products_tab %>">Products</a>
              </li>
              <li class="">
                <a href="http://<%= @site_domain %>/about" target="_self" class="<%= 'active' if @about_tab %>">About</a>
              </li>
              <li class="">
                <a href="http://<%= @site_domain %>/contact_us" target="_self" class="<%= 'active' if @contact_us_tab %>">Contact Us</a>
              </li>
              <li class="">
                <a style="color:#2c3e50;" href="tel:1-844-737-7278" target="_self">
                  844 RFQ-PART (1-844-737-7278)
                </a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </header>

  <div class="main">
    <div style="background:#ececec;padding:10px;">
      <div class="row" style="float: none; margin-left: auto; margin-right: auto;">
        <h2><%= @part.part_number %></h2>
      </div>
    </div>

    <div class="breadcrumbs">
      <div class="row" style="float: none; margin-left: auto; margin-right: auto;">
        <div class="large-12 columns">
          <ul class="list-inline">
            <li>Home</li>
            <li><%= @part.manufacturer %></li>
            <li><%= @part.part_number %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="l-content l-content-secondary" itemscope itemtype="http://schema.org/Product">
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <div class="row" style="overflow-x: hidden;" >
                <div id="rfq-slider-area" class="large-18 columns">
                <div class="medium-4 columns">
                  <img src=<%= @part.image_url %> alt="Placeholder Image" style="float:left;" />
                </div>
                <div class="medium-4 columns">
                  <div class="copy copy-single">
                    <strong itemprop="manufacturer"><%= @part.manufacturer %></strong>
                    <h3 itemprop="name" style="font-size:40px;"><%= @part.part_number %></h3>
                    <h3 style="font-size:18px;display: inline-block;">  
                      Quantity in stock:
                    </h3>

                    <div style="font-size:18px;display:inline-block;color:#0e78b8;font-weight:bold">
                      Available
                      <span class="icon-check" style="font-family: FontAwesome;color:green;font-size:18px"></span>
                    </div>

                    <div style="margin:20px 0">
                      <p itemprop="description">
                      Description: <%= @part.description %>
                      </p>
                    </div>

                    <div id="rfq-button" class="btn" style="background-color:#26A65B;">Request for Quote</div>
                  </div>


                </div>

                <%= form_tag('/leads', id: 'lead_form') do %>
                  <input name="part_id" type="hidden" value=<%= @part.id %> /> 
                  <div id="form-panel" class="medium-4 columns">
                    <div class="" style="padding:20px;background:#efefef;border:1px solid #ddd;">
                      <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                      <h3>Request Quote</h3>
                      <div class="input-group">
                        <label style="padding:5px">Name</label>
                        <input name="name" type="text" placeholder="Name">
                      </div>
                      <div class="input-group">
                        <label style="padding:5px">Email</label>
                        <input name="email" type="email" placeholder="Email">
                      </div>
                      <div class="input-group">
                        <label style="padding:5px">Company</label>
                        <input name="company" type="text" placeholder="Company">
                      </div>
                      <div class="input-group">
                        <label style="padding:5px">Phone</label>
                        <input name="phone" type="number" placeholder="Phone">
                      </div>
                      <div class="input-group">
                        <label style="padding:5px">Quantity</label>
                        <input name="quantity" style="width:60px" type="number" placeholder="1">
                      </div>
                      <div class="input-group">
                        <label style="padding:5px">Comments:</label>
                        <textarea name="comments" cols="40" rows="10"></textarea>
                      </div>
                      <div id='form-button'>
                        <button type="submit" id="rfq-button" class="btn-sm">Submit</div>
                        <p id='errors' style='color:red; font-weight:bold;'></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="clearfix"></div>
              <div class="group group-anchor" id="details">
                <h2>Details</h2>
                <table cellpadding="0" cellspacing="0" style="width: 100%;">
                  <thead></thead>
                  <tbody>
                    <tr>
                      <td><b>Product</b></td>
                      <td><%= @part.part_number %></td>
                    </tr>
                    <tr>
                      <td><b>Make</b></td>
                      <td><%= @part.manufacturer %>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Type</b></td>
                      <td><%= @part.part_type %></td>
                    </tr>
                    <tr>
                      <td><b>Lead Time</b></td>
                      <td>Available</td>
                    </tr>
                    <tr>
                      <td><b>Quantity in Stock</b></td>
                      <td>Available</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="group group-anchor" id="specs">
                <h2>Specs</h2>
                <% if @part.specs.present? %>
                  <table cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tbody>
                      <% @part.specs.each do |key, value| %>
                        <tr>
                          <td><b><%= key %></b></td>
                          <td><%= value %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  Call for specs
                <% end %>
              </div>
              <%- if @part.features %>
                <div class="group group-anchor" id="features">
                  <h2>Features</h2>
                  <div class="copy copy-single">
                    <%= @part.features %>
                  </div>
                </div>
              <% end %>

              <%- if @part.pdf_url %>
                <div class="group group-anchor" id="manual">
                  <h2>Datasheet</h2>
                  <div class="copy copy-single">
                    <a href='<%= @part.pdf_url %>' target="_blank">Download Data</a>
                  </div>
                </div>
              <% end %>
              <div class="group group-anchor" id="faqs">
                <h2>FAQs</h2>
                <br/>
                <div class="copy copy-single">
                  <ol style="list-style: none;">
                    <li>
                      <strong>Which types of payments do you accept?</strong>
                      <p>All major credit cards, PayPal, checks, and wire transfer.</p>
                    </li>
                    <li><strong>Can you ship worldwide?</strong>
                      <p>Yes, and we may do so on your account as well. We ship via UPS, FedEx, and DHL. We also work with freight forwarders upon request.</p> 
                    </li>
                    <li>
                      <strong>How quickly can I receive my order?</strong>
                      <p>Standard delivery is 3-5 business days. Expedited delivery is available on a case by case basis.</p>
                    </li>
                    <li>
                      <strong>What warranty will my item come with?</strong>
                      <p>Our standard warranty is 30 days. Some products may come with a longer protection plan.</p>
                    </li>
                    <li>
                      <strong>I am looking for an item not on your site, can you help me?</strong>
                      <p>Absolutely, contact us with your requirements.</p>
                    </li>
                    <li>
                      <strong>Do you offer repair service?</strong>
                      <p>Yes, we are readily able to support the disassembly, inspection, and restoration of your industrial components in a practical, cost-saving manner.</p>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="t-footer" >
    <div class="share-links" style='text-align:center;font-size:30px;padding:20px;'>
      <a href="https://www.facebook.com/ProcessIndustrialSupply/" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true" style='width:40px;'></i>
      </a>
      <a href="https://twitter.com/ProcessInd" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true" style='width:40px;'></i>
      </a>
      <a href="https://www.linkedin.com/company-beta/22283615/" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true" style='width:40px;'></i>
      </a>
    </div>
    <div class="copyright" style="color:#adabab;padding:10px;">
      Copyright © 2017 RFQPARTS.net, All Rights Reserved.<br>
    </div>
  </footer>

<script type="text/javascript">
/* * jQuery throttle / debounce - v1.1 - 3/7/2010
 * http://benalman.com/projects/jquery-throttle-debounce-plugin/
 * 
 * Copyright (c) 2010 "Cowboy" Ben Alman
 * Dual licensed under the MIT and GPL licenses.
 * http://benalman.com/about/license/
 */
(function(b,c){var $=b.jQuery||b.Cowboy||(b.Cowboy={}),a;$.throttle=a=function(e,f,j,i){var h,d=0;if(typeof f!=="boolean"){i=j;j=f;f=c}function g(){var o=this,m=+new Date()-d,n=arguments;function l(){d=+new Date();j.apply(o,n)}function k(){h=c}if(i&&!h){l()}h&&clearTimeout(h);if(i===c&&m>e){l()}else{if(f!==true){h=setTimeout(i?k:l,i===c?e-m:e)}}}if($.guid){g.guid=j.guid=j.guid||$.guid++}return g};$.debounce=function(d,e,f){return f===c?a(d,e,false):a(d,f,e!==false)}})(this);
    $(document).ready(function(){

      $(window).resize($.debounce(250,function(){
        
        if( window.innerWidth > 1026){
          $('#rfq-slider-area').animate({
            marginLeft: "0%"
          },400);

          setTimeout(function(){
            $('#form-panel').hide();
          },400);

          $("#rfq-button")
            .removeClass("open")
            .html("Request for Quote");
        }
      }));

      $('#rfq-button').click(function(){

        if( !$(this).hasClass('open') ){

          $('#form-panel').show();
          
          if( window.innerWidth < 1026 ){
            $('html,body').animate({
              scrollTop: $('#form-panel').offset().top - 20
            },80);

          }else{
            $('#rfq-slider-area').animate({
              marginLeft: "-50%"
            },400);
            $('#form-panel').show();
            $(this)
              .addClass("open")
              .html("Back to product image");
          }
          

        }else{
          $('#rfq-slider-area').animate({
            marginLeft: "0%"
          },400);
          setTimeout(function(){
            $('#form-panel').hide();
          },400)
          $(this)
            .removeClass("open")
            .html("Request for Quote");
        }
        
      });
    });
  </script>
  <script type='text/javascript'>
      $(document).ready(function(){
        $('.hamburger-nav').click(function(){
          $('.top-bar .top-bar-section .right.main-nav').slideToggle();
        });
      });
      /* attach a submit handler to the form */
      $("#lead_form").submit(function(event) {
        console.log('submitting')
        /* stop form from submitting normally */
        event.preventDefault();

        /* get the action attribute from the <form action=""> element */
        var $form = $( this ),
            url = $form.attr( 'action' );

        /* Send the data using post with element id name and name2*/
        var posting = $.post( url,
          {
            name: $('input[name="name"]').val(),
            email: $('input[name="email"]').val(),
            company: $('input[name="company"]').val(),
            phone: $('input[name="phone"]').val(),
            quantity: $('input[name="quantity"]').val(),
            comments: $('textarea[name="comments"]').val(),
            part_id: $('input[name="part_id"]').val(),
            authenticity_token: $('input[name="authenticity_token"]').val(),
            origin: document.location.hostname
          } );

        /* Alerts the results */
        posting.done(function( data ) {
          console.log(data)
          if(typeof(data.id) !== 'undefined'){
            $('#form-button').html("<p style='color:#26A65B;font-weight:bold;'>Thank you for your request we will reach out to you shortly.</p>")
            $('#errors').html('')
          }
          if(typeof(data.error) !== 'undefined'){
            $('#errors').html(data.error[0])
          }
        });
      });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-104155905-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>