<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>RFQPARTS.net</title>
  <meta content="" name="description">
  <meta class="foundation-data-attribute-namespace">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <%= stylesheet_link_tag 'external_main' %>
  <%= stylesheet_link_tag 'external_custom' %>
  <%= stylesheet_link_tag 'external_jquery-ui' %>

</head>
<body>
  <header class="t-header" id="app-header">
    <div class="row">
      <div class="large-12 columns">
        <nav class="top-bar" data-topbar="" role="navigation">
          <section class="top-bar-section">
            <div style="display: inline-block;font-size:24px;padding:10px;">RFQPARTS.NET</div>
            <ul class="right main-nav">
              <li class="">
                <a href="http://<%= @site_domain %>" target="_self" class="<%= 'active' if @home_tab %>">Home</a>
              </li>
              <li class="">
                <a href="http://<%= @site_domain %>/manufacturers" target="_self" class="<%= 'active' if @manufacturers_tab %>">Manufacturers</a>
              </li>
              <li class="">
                <a href="http://<%= @site_domain %>/products" target="_self" class="<%= 'active' if @products_tab %>">Products</a>
              </li>
              <li class="">
                <a href="http://<%= @site_domain %>/contact_us" target="_self" class="<%= 'active' if @contact_us_tab %>">Contact Us</a>
              </li>
              <li class="">
                <a style="color:#2c3e50;" href="#" target="_self">
                  (214) 775-0025
                </a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </header>

  <div class="main">
    <div id="header-bar" style="">      
      <div class="row" >
        <h2 style="">Manufacturers</h2>
        
        <div id="manufacturer-search" >
          <div class="form-group" style="margin-bottom: 0px;">
            <div class="form-icon">
              <i class="icon icon-search"></i>
            </div>
            <input type="text" class="search-input" placeholder="Enter Manufacturer"  id="searchManufacturers">
            <button onclick="" class="btn">Search</button>
          </div>
        </div>  

      </div>  

    </div>
  </div>

  <div class="" style="background:#333;background:url('/assets/whole_akron_plant.jpg');background-size:cover;background-position:center center;height:475px;">
  
    <div class="row">
      <h1 style="text-align: center;color:white;margin-top:100px;font-size: 4em">Manufacturers</h1>
      <p style="margin-top:80px;color:white;font-size:28px;font-weight:200;text-align: center;">We have access to hundreds manufacturers across the nation and globally. <br>Our inventory is constantly growing with a variety new and end of life parts.</p>
  
    </div>

  </div>

  <div>
    <table style="width: 100%;">
      <tbody>
        <tr>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="text-align: center;">
              <div>
                <img alt="" src="https://via.placeholder.com/350x150" style="height: 40px;margin:10px;">
              </div>    
              <a href="#">Company Name</a>
            </div>
          </td>
        </tr>             
      </tbody>
    </table>
  </div>

  <div class="pages" style="color:white;text-align: center;padding:10px;font-size:1.5em">
    1 2
  </div>

  <footer class="t-footer" >
    <div class="copyright">
      Copyright © 2017 RFQPARTS.net, All Rights Reserved.<br>
    </div>
  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript">
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'XXXXXXXXXXX', 'auto');
      ga('send', 'pageview');
  </script>
  <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "name": "rfqparts.net",
          "url": "https://rfqparts.net/"
      }
  </script>
  <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "https://www.rfqparts.net/",
          "potentialAction": {
              "@type": "SearchAction",
              "target": "https://www.rfqparts.net/products?_search={search_term_string}*",
              "query-input": {
                  "@type": "PropertyValueSpecification",
                  "valueRequired": true,
                  "valueMaxLength": 100,
                  "valueName": "search_term_string"
              }
          }
      } 
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#rfq-button').click(function(){

        if( !$(this).hasClass('open') ){
          $('#rfq-slider-area').animate({
            marginLeft: "-50%"
          },400);
          $('#form-panel').show();
          $(this)
            .addClass("open")
            .html("Back to product image");
        }else{
          $('#rfq-slider-area').animate({
            marginLeft: "0%"
          },400);
          setTimeout(function(){
            $('#form-panel').hide();
          },400)
          $(this)
            .removeClass("open")
            .html("Request for Quote");
        }       
      });
    });
  </script>
</body>
</html>